/* VARIABLES */

:root {
    --hero-footer-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --hero-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --info-color: #1F2937;
    --quote-selection: #E5E7EB;
    --quote-text: #1F2937;
}

/* RESETS */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* CUSTOM STYLING  */