/* VARIABLES */

:root {
    --hero-footer-color: #1F2937;
    --hero-main-text-color: #F9FAF8;
    --hero-secondary-color: #E5E7EB;
    --hero-logo-color: #F9FAF8;
    --button-color: #3882F6;
    --info-color: #1F2937;
    --quote-selection: #E5E7EB;
    --quote-text: #1F2937;
}

/* RESETS */

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

/* GLOBAL CLASSES*/
.row, .column {
    display: flex;
}

.column {
    flex-direction: column; 
}

.justify-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}


/* CUSTOM STYLING  */


/* Nav bar & links */
.top-half {
    background-color: var(--hero-footer-color);
    height: 70vh;
}

.navbar {
    padding: 15px;
    justify-content: center;
    margin: 0 100px;
}

h4 {
    font-size: 24px; 
    color: var(--hero-logo-color);
    margin-right: auto;
}

h3 {
    font-size: 18px;
    color: var(--hero-secondary-color);
    display: flex;
    margin: 0 15px;
}

/* Hero section */
.hero, h2 {
    color: var(--hero-main-text-color);
    font-size: 48px;
    font-weight:bolder;
}

.hero, p {
    color: var(--hero-secondary-color);
    font-size: 18px;
}

button {
    background-color: var(--button-color);
    border-color: var(--button-color);
    padding: 5px 25px;
    border-radius: 5px;
    color: white;
}

